<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.dao.CommentDao">
  <resultMap id="CommentResultMap" type="org.lanqiao.entity.Comment">
    <id column="COMMENT_ID" jdbcType="NUMERIC" property="commentId" />
   <!-- <result column="USER_ID" jdbcType="NUMERIC" property="userId" />
    <result column="MUSIC_ID" jdbcType="NUMERIC" property="musicId" />-->
    <result column="COMMENT_TIME" jdbcType="DATE" property="commentTime" />
    <result column="COMMENT_CONTENT" jdbcType="NVARCHAR" property="commentContent" />
    <result column="COMMENT_STAR" jdbcType="NUMERIC" property="commentStar" />
    <association property="user" resultMap="UserResultMap"></association>
    <association property="music" resultMap="MusicResultMap"></association>
  </resultMap>
  <resultMap id="UserResultMap" type="org.lanqiao.entity.User">
    <id column="USER_ID" jdbcType="NUMERIC" property="userId" />
    <result column="USER_NAME" jdbcType="NVARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="NVARCHAR" property="password" />
    <result column="EMAIL" jdbcType="NVARCHAR" property="email" />
    <result column="PHONE_NUMBER" jdbcType="NVARCHAR" property="phoneNumber" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="USER_STATUS" jdbcType="NUMERIC" property="userStatus" />
    <result column="STATUS_CHANGE_TIME" jdbcType="DATE" property="statusChangeTime" />
    <result column="USER_LOCK_TIME" jdbcType="NUMERIC" property="userLockTime" />
    <result column="USER_INFO" jdbcType="NVARCHAR" property="userInfo" />
   <!-- <result column="ADDRESS_ID" jdbcType="NUMERIC" property="addressId" />-->
    <result column="WECHAT" jdbcType="NVARCHAR" property="wechat" />
    <association property="address" resultMap="AddressResultMap"></association>
  </resultMap>
  <resultMap extends="UserResultMap" id="ResultMapWithBLOBs" type="org.lanqiao.entity.User">
    <result column="USER_IMAGE" jdbcType="BLOB" property="userImage" />
  </resultMap>
  <resultMap id="AddressResultMap" type="org.lanqiao.entity.Address">
    <id column="ADDRESS_ID" jdbcType="NUMERIC" property="addressId" />
    <result column="PROVINCE" jdbcType="NVARCHAR" property="province" />
    <result column="CITY" jdbcType="NVARCHAR" property="city" />
  </resultMap>
  <resultMap id="MusicResultMap" type="org.lanqiao.entity.Music">
    <id column="MUSIC_ID" jdbcType="NUMERIC" property="musicId" />
    <result column="MUSIC_NAME" jdbcType="NVARCHAR" property="musicName" />
    <!--<result column="SINGER_ID" jdbcType="NUMERIC" property="singerId" />-->
    <result column="MUSIC_STAR" jdbcType="NUMERIC" property="musicStar" />
    <result column="MUSIC_PATH" jdbcType="NVARCHAR" property="musicPath" />
    <!--<result column="LANGUAGE_ID" jdbcType="NUMERIC" property="languageId" />
    <result column="STYLE_ID" jdbcType="NUMERIC" property="styleId" />-->
    <result column="MUSIC_IMAGE" jdbcType="NVARCHAR" property="musicImage" />
    <result column="MUSIC_LRC" jdbcType="NVARCHAR" property="musicLrc" />
    <result column="MUSIC_TIME" jdbcType="NUMERIC" property="musicTime" />
    <association property="singer" resultMap="SingerResultMap"></association>
    <association property="musicLanguage" resultMap="MusicLanguageResultMap"></association>
    <association property="musicStyle" resultMap="MusicStyleResultMap"></association>
  </resultMap>
  <resultMap id="SingerResultMap" type="org.lanqiao.entity.Singer">
    <id column="SINGER_ID" jdbcType="NUMERIC" property="singerId" />
    <result column="SINGER_NAME" jdbcType="NVARCHAR" property="singerName" />
    <result column="SINGER_INFO" jdbcType="NVARCHAR" property="singerInfo" />
    <result column="SINGER_IMAGE" jdbcType="NVARCHAR" property="singerImage" />
    <!--<result column="SINGER_AREA_ID" jdbcType="NUMERIC" property="singerAreaId" />
    <result column="SINGER_KIND_ID" jdbcType="NUMERIC" property="singerKindId" />-->
    <association property="singerArea" resultMap="SingerAreaResultMap"></association>
    <association property="singerKind" resultMap="SingerKindResultMap"></association>
  </resultMap>
  <resultMap id="SingerAreaResultMap" type="org.lanqiao.entity.SingerArea">
    <id column="SINGER_AREA_ID" jdbcType="NUMERIC" property="singerAreaId" />
    <result column="SINGER_AREA" jdbcType="NVARCHAR" property="singerArea" />
  </resultMap>
  <resultMap id="SingerKindResultMap" type="org.lanqiao.entity.SingerKind">
    <id column="SINGER_KIND_ID" jdbcType="NUMERIC" property="singerKindId" />
    <result column="SINGER_KIND" jdbcType="NVARCHAR" property="singerKind" />
  </resultMap>
  <resultMap id="MusicLanguageResultMap" type="org.lanqiao.entity.MusicLanguage">
    <id column="LANGUAGE_ID" jdbcType="NUMERIC" property="languageId" />
    <result column="LANGUAGE_KIND" jdbcType="NVARCHAR" property="languageKind" />
  </resultMap>
  <resultMap id="MusicStyleResultMap" type="org.lanqiao.entity.MusicStyle">
    <id column="STYLE_ID" jdbcType="NUMERIC" property="styleId" />
    <result column="STYLE_KIND" jdbcType="NVARCHAR" property="styleKind" />
  </resultMap>
  
  
  
  
  
  
  <sql id="Base_Column_List">
    COMMENT_ID, USER_ID, MUSIC_ID, COMMENT_TIME, COMMENT_CONTENT, COMMENT_STAR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="CommentResultMap">
    select 
    <include refid="Base_Column_List" />
    from COMMENTS
    where COMMENT_ID = #{commentId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from COMMENTS
    where COMMENT_ID = #{commentId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.Comment">
    insert into COMMENTS (COMMENT_ID, USER_ID, MUSIC_ID, 
      COMMENT_TIME, COMMENT_CONTENT, COMMENT_STAR
      )
    values (#{commentId,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{musicId,jdbcType=NUMERIC}, 
      #{commentTime,jdbcType=DATE}, #{commentContent,jdbcType=NVARCHAR}, #{commentStar,jdbcType=NUMERIC}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.Comment">
    insert into COMMENTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        COMMENT_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="musicId != null">
        MUSIC_ID,
      </if>
      <if test="commentTime != null">
        COMMENT_TIME,
      </if>
      <if test="commentContent != null">
        COMMENT_CONTENT,
      </if>
      <if test="commentStar != null">
        COMMENT_STAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=NUMERIC},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="musicId != null">
        #{musicId,jdbcType=NUMERIC},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=DATE},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=NVARCHAR},
      </if>
      <if test="commentStar != null">
        #{commentStar,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.Comment">
    update COMMENTS
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="musicId != null">
        MUSIC_ID = #{musicId,jdbcType=NUMERIC},
      </if>
      <if test="commentTime != null">
        COMMENT_TIME = #{commentTime,jdbcType=DATE},
      </if>
      <if test="commentContent != null">
        COMMENT_CONTENT = #{commentContent,jdbcType=NVARCHAR},
      </if>
      <if test="commentStar != null">
        COMMENT_STAR = #{commentStar,jdbcType=NUMERIC},
      </if>
    </set>
    where COMMENT_ID = #{commentId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.Comment">
    update COMMENTS
    set USER_ID = #{userId,jdbcType=NUMERIC},
      MUSIC_ID = #{musicId,jdbcType=NUMERIC},
      COMMENT_TIME = #{commentTime,jdbcType=DATE},
      COMMENT_CONTENT = #{commentContent,jdbcType=NVARCHAR},
      COMMENT_STAR = #{commentStar,jdbcType=NUMERIC}
    where COMMENT_ID = #{commentId,jdbcType=NUMERIC}
  </update>
</mapper>