<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.dao.MusicLanguageDao">
  <resultMap id="MusicLanguageResultMap" type="org.lanqiao.entity.MusicLanguage">
    <id column="LANGUAGE_ID" jdbcType="NUMERIC" property="languageId" />
    <result column="LANGUAGE_KIND" jdbcType="NVARCHAR" property="languageKind" />
  </resultMap>
  <sql id="Base_Column_List">
    LANGUAGE_ID, LANGUAGE_KIND
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="MusicLanguageResultMap">
    select 
    <include refid="Base_Column_List" />
    from MUSICLANGUAGE
    where LANGUAGE_ID = #{languageId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MUSICLANGUAGE
    where LANGUAGE_ID = #{languageId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.MusicLanguage">
    insert into MUSICLANGUAGE (LANGUAGE_ID, LANGUAGE_KIND)
    values (#{languageId,jdbcType=NUMERIC}, #{languageKind,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.MusicLanguage">
    insert into MUSICLANGUAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="languageId != null">
        LANGUAGE_ID,
      </if>
      <if test="languageKind != null">
        LANGUAGE_KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="languageId != null">
        #{languageId,jdbcType=NUMERIC},
      </if>
      <if test="languageKind != null">
        #{languageKind,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.MusicLanguage">
    update MUSICLANGUAGE
    <set>
      <if test="languageKind != null">
        LANGUAGE_KIND = #{languageKind,jdbcType=NVARCHAR},
      </if>
    </set>
    where LANGUAGE_ID = #{languageId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.MusicLanguage">
    update MUSICLANGUAGE
    set LANGUAGE_KIND = #{languageKind,jdbcType=NVARCHAR}
    where LANGUAGE_ID = #{languageId,jdbcType=NUMERIC}
  </update>
</mapper>